###### How to load csv file

In [1]:
import pandas as pd

df = pd.read_csv(r'D:\OneDrive - RadiSys Corporation\Learning\Machine learning\pandas-master\pokemon_data.csv')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

 Read top three entries

In [2]:
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

Read bottom three entries

In [3]:
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

##### Load excel file

In [4]:
df_xlsx = pd.read_excel(r'D:\OneDrive - RadiSys Corporation\Learning\Machine learning\pandas-master\pokemon_data.xlsx') 
print(df_xlsx)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

Read top three entries

In [6]:
print(df_xlsx.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

Read last three entires

In [7]:
print(df_xlsx.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

# How to load the other kind of files:
For example fields are spearted by tabs.

In [8]:
df_txt = pd.read_csv(r'D:\OneDrive - RadiSys Corporation\Learning\Machine learning\pandas-master\pokemon_data.txt')
print(df_txt)

    #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0    1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1    2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2    3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3    3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4    4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...
..                                                 ...
795  719\tDiancie\tRock\tFairy\t50\t100\t150\t100\t...
796  719\tDiancieMega Diancie\tRock\tFairy\t50\t160...
797  720\tHoopaHoopa Confined\tPsychic\tGhost\t80\t...
798  720\tHoopaHoopa Unbound\tPsychic\tDark\t80\t16...
799  721\tVolcanion\tFire\tWater\t80\t110\t120\t130...

[800 rows x 1 columns]

 In above example we not able to read fields sepeareted tabs by pands using pd.read_csv.
 No we have to specift the delemintor for the read_csv method

In [9]:
df_txt = pd.read_csv(r'D:\OneDrive - RadiSys Corporation\Learning\Machine learning\pandas-master\pokemon_data.txt', delimiter='\t')
print(df_txt.head(1))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45

   Generation  Legendary
0           1      False

####  Reading Headers in file:

Read the haerder fro m pokemon_data.txt. It menas colums in that files.

In [10]:
print(df_txt.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
print(df_txt['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [12]:
print(df_txt[['Name', 'Type 1', 'Type 2']])

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

###### Extract the rows with index:

Usign iloc ==> Integer location method we can extract the particulor row

In [13]:
print(df_txt.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

Now print 2 row, Index strts from 0, so for 2nd row we need to specify index 1

In [14]:
print(df_txt.iloc[1])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [ ]:
print(df_txt.iloc[2:4])

###### Extract specifc location (Not a row)

It means extracting specific filed in specif row

In [15]:
print(df_txt.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

Now extarct the HP value from row 3 and cloume 5.
(row, cloum) = (3, 5) ==> 80
It means index is 2 for row and index is 4 for colum.

In [16]:
print(df_txt.iloc[2, 4])

80

###### Print all the names with indexing

In [ ]:
for index, row in df_txt.iterrows():
    
    print(index, row['Name'])

Read using non-integer based way.
iloc ==> Used location from indexing to fecth the infomation
loc ==> Fecthes the information based on text

In [17]:

print(df_txt.loc[df_txt['Type 1'] == 'Fire'])

       #                       Name Type 1    Type 2   HP  Attack  Defense  \
4      4                 Charmander   Fire       NaN   39      52       43
5      5                 Charmeleon   Fire       NaN   58      64       58
6      6                  Charizard   Fire    Flying   78      84       78
7      6  CharizardMega Charizard X   Fire    Dragon   78     130      111
8      6  CharizardMega Charizard Y   Fire    Flying   78     104       78
42    37                     Vulpix   Fire       NaN   38      41       40
43    38                  Ninetales   Fire       NaN   73      76       75
63    58                  Growlithe   Fire       NaN   55      70       45
64    59                   Arcanine   Fire       NaN   90     110       80
83    77                     Ponyta   Fire       NaN   50      85       55
84    78                   Rapidash   Fire       NaN   65     100       70
135  126                     Magmar   Fire       NaN   65      95       57
147  136                    Flareon   Fire       NaN   65     130       60
158  146                    Moltres   Fire    Flying   90     100       90
169  155                  Cyndaquil   Fire       NaN   39      52       43
170  156                    Quilava   Fire       NaN   58      64       58
171  157                 Typhlosion   Fire       NaN   78      84       78
236  218                     Slugma   Fire       NaN   40      40       40
237  219                   Magcargo   Fire      Rock   50      50      120
259  240                      Magby   Fire       NaN   45      75       37
263  244                      Entei   Fire       NaN  115     115       85
270  250                      Ho-oh   Fire    Flying  106     130       90
276  255                    Torchic   Fire       NaN   45      60       40
277  256                  Combusken   Fire  Fighting   60      85       60
278  257                   Blaziken   Fire  Fighting   80     120       70
279  257      BlazikenMega Blaziken   Fire  Fighting   80     160       80
352  322                      Numel   Fire    Ground   60      60       40
353  323                   Camerupt   Fire    Ground   70     100       70
354  323      CameruptMega Camerupt   Fire    Ground   70     120      100
355  324                    Torkoal   Fire       NaN   70      85      140
435  390                   Chimchar   Fire       NaN   44      58       44
436  391                   Monferno   Fire  Fighting   64      78       52
437  392                  Infernape   Fire  Fighting   76     104       71
518  467                  Magmortar   Fire       NaN   75      95       67
542  485                    Heatran   Fire     Steel   91      90      106
557  498                      Tepig   Fire       NaN   65      63       45
558  499                    Pignite   Fire  Fighting   90      93       55
559  500                     Emboar   Fire  Fighting  110     123       65
572  513                    Pansear   Fire       NaN   50      53       48
573  514                   Simisear   Fire       NaN   75      98       63
614  554                   Darumaka   Fire       NaN   70      90       45
615  555    DarmanitanStandard Mode   Fire       NaN  105     140       55
616  555         DarmanitanZen Mode   Fire   Psychic  105      30      105
692  631                    Heatmor   Fire       NaN   85      97       66
721  653                   Fennekin   Fire       NaN   40      45       40
722  654                    Braixen   Fire       NaN   59      59       58
723  655                    Delphox   Fire   Psychic   75      69       72
730  662                Fletchinder   Fire    Flying   62      73       55
731  663                 Talonflame   Fire    Flying   78      81       71
735  667                     Litleo   Fire    Normal   62      50       58
736  668                     Pyroar   Fire    Normal   86      68       72
799  721                  Volcanion   Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
42        50       65     65           1      False
43        81      100    100           1      False
63        70       50     60           1      False
64       100       80     95           1      False
83        65       65     90           1      False
84        80       80    105           1      False
135      100       85     93           1      False
147       95      110     65           1      False
158      125       85     90           1       True
169       60       50     65           2      False
170       80       65     80           2      False
171      109       85    100           2      False
236       70       40     20           2      False
237       80       80     30           2      False
259       70       55     83           2      False
263       90       75    100           2       True
270      110      154     90           2       True
276       70       50     45           3      False
277       85       60     55           3      False
278      110       70     80           3      False
279      130       80    100           3      False
352       65       45     35           3      False
353      105       75     40           3      False
354      145      105     20           3      False
355       85       70     20           3      False
435       58       44     61           4      False
436       78       52     81           4      False
437      104       71    108           4      False
518      125       95     83           4      False
542      130      106     77           4       True
557       45       45     45           5      False
558       70       55     55           5      False
559      100       65     65           5      False
572       53       48     64           5      False
573       98       63    101           5      False
614       15       45     50           5      False
615       30       55     95           5      False
616      140      105     55           5      False
692      105       66     65           5      False
721       62       60     60           6      False
722       90       70     73           6      False
723      114      100    104           6      False
730       56       52     84           6      False
731       74       69    126           6      False
735       73       54     72           6      False
736      109       66    106           6      False
799      130       90     70           6       True

In [18]:
print(df_txt.loc[df_txt['Legendary'] == True])

       #                 Name    Type 1    Type 2   HP  Attack  Defense  \
156  144             Articuno       Ice    Flying   90      85      100
157  145               Zapdos  Electric    Flying   90      90       85
158  146              Moltres      Fire    Flying   90     100       90
162  150               Mewtwo   Psychic       NaN  106     110       90
163  150  MewtwoMega Mewtwo X   Psychic  Fighting  106     190      100
..   ...                  ...       ...       ...  ...     ...      ...
795  719              Diancie      Rock     Fairy   50     100      150
796  719  DiancieMega Diancie      Rock     Fairy   50     160      110
797  720  HoopaHoopa Confined   Psychic     Ghost   80     110       60
798  720   HoopaHoopa Unbound   Psychic      Dark   80     160       60
799  721            Volcanion      Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
156       95      125     85           1       True
157      125       90    100           1       True
158      125       85     90           1       True
162      154       90    130           1       True
163      154      100    130           1       True
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[65 rows x 12 columns]

In [19]:
df_txt.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [42]:
df_txt.sort_values('HP', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [42]:
df_txt.sort_values('HP', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

1 ==> Ascending 
0 ==> Descending

Below example if for sorting based on mutiple fileds.

In [49]:
df_txt.sort_values(['HP', 'Type 1'], ascending=[1, 0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

Add cloum 4 to 9 and call new cloum as total.
axis ==> 1 ==> Horiznatl sum
axis ==> 0 ==> Vertical sum

[row, colum]
example:
[:, 4:9] => Means all the rows and but colums are 4 to 9 .


drop ==> Drops partculor colums

IMP: End parameter in list is exculded.
I mean
[4:9]
Here index 9 is exculded, only till 8 is consider.
so for below exampe
We have to use [:, 4:10]

In [97]:
df = df_txt

df['Total'] = df.iloc[:, 4:10].sum(axis=1)
#print(df)
df = df.drop(columns=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'])
print(df)

       #                   Name   Type 1  Type 2  Generation  Legendary  Total
0      1              Bulbasaur    Grass  Poison           1      False    318
1      2                Ivysaur    Grass  Poison           1      False    405
2      3               Venusaur    Grass  Poison           1      False    525
3      3  VenusaurMega Venusaur    Grass  Poison           1      False    625
4      4             Charmander     Fire     NaN           1      False    309
..   ...                    ...      ...     ...         ...        ...    ...
795  719                Diancie     Rock   Fairy           6       True    600
796  719    DiancieMega Diancie     Rock   Fairy           6       True    700
797  720    HoopaHoopa Confined  Psychic   Ghost           6       True    600
798  720     HoopaHoopa Unbound  Psychic    Dark           6       True    680
799  721              Volcanion     Fire   Water           6       True    600

[800 rows x 7 columns]

###### How to re-arrange the cloums

In [102]:
#Get the number of columns
print(df)
print(df.columns.values)
cols = list(df.columns.values)

       #                   Name  Generation
0      1              Bulbasaur           1
1      2                Ivysaur           1
2      3               Venusaur           1
3      3  VenusaurMega Venusaur           1
4      4             Charmander           1
..   ...                    ...         ...
795  719                Diancie           6
796  719    DiancieMega Diancie           6
797  720    HoopaHoopa Confined           6
798  720     HoopaHoopa Unbound           6
799  721              Volcanion           6

[800 rows x 3 columns]
['#' 'Name' 'Generation']

In [111]:
#Re-arrange the colums: as follow
# #no, Name Generation total, Type1 Tpye2 Legendary
df = df_txt
df = df.drop(columns=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'])
print(df)
cols = list(df.columns.values)

#clos[-1] outputs string , Hence we need to convert that into list, otherwise will get error:can only concatenate list (not "str") to list 
print('------------------------------')
df = df[cols[0:2] + [cols[4]] + [cols[-1]] + cols[2:4] + [cols[-2]]]
print(df)

       #                   Name   Type 1  Type 2  Generation  Legendary  Total
0      1              Bulbasaur    Grass  Poison           1      False    318
1      2                Ivysaur    Grass  Poison           1      False    405
2      3               Venusaur    Grass  Poison           1      False    525
3      3  VenusaurMega Venusaur    Grass  Poison           1      False    625
4      4             Charmander     Fire     NaN           1      False    309
..   ...                    ...      ...     ...         ...        ...    ...
795  719                Diancie     Rock   Fairy           6       True    600
796  719    DiancieMega Diancie     Rock   Fairy           6       True    700
797  720    HoopaHoopa Confined  Psychic   Ghost           6       True    600
798  720     HoopaHoopa Unbound  Psychic    Dark           6       True    680
799  721              Volcanion     Fire   Water           6       True    600

[800 rows x 7 columns]
------------------------------
       #                   Name  Generation  Total   Type 1  Type 2  Legendary
0      1              Bulbasaur           1    318    Grass  Poison      False
1      2                Ivysaur           1    405    Grass  Poison      False
2      3               Venusaur           1    525    Grass  Poison      False
3      3  VenusaurMega Venusaur           1    625    Grass  Poison      False
4      4             Charmander           1    309     Fire     NaN      False
..   ...                    ...         ...    ...      ...     ...        ...
795  719                Diancie           6    600     Rock   Fairy       True
796  719    DiancieMega Diancie           6    700     Rock   Fairy       True
797  720    HoopaHoopa Confined           6    600  Psychic   Ghost       True
798  720     HoopaHoopa Unbound           6    680  Psychic    Dark       True
799  721              Volcanion           6    600     Fire   Water       True

[800 rows x 7 columns]

###### How to save data frame into CSV file

In [148]:
print(df)
df.to_csv('modified.csv')

#This will save index as well in file
temp = pd.read_csv('modified.csv')
print(temp)

#To remove index
df.to_csv('modified.csv', index=False)

temp2 = pd.read_csv('modified.csv')
print(temp2)

#Write as excel file
temp2.to_excel('modified.xls')

temp2 = pd.read_excel('modified.xls')

print(temp2)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
     Unnamed: 0    #                   Name   Type 1  Type 2  HP  Attack  \
0             0    1              Bulbasaur    Grass  Poison  45      49
1             1    2                Ivysaur    Grass  Poison  60      62
2             2    3               Venusaur    Grass  Poison  80      82
3             3    3  VenusaurMega Venusaur    Grass  Poison  80     100
4             4    4             Charmander     Fire     NaN  39      52
..          ...  ...                    ...      ...     ...  ..     ...
795         795  719                Diancie     Rock   Fairy  50     100
796         796  719    DiancieMega Diancie     Rock   Fairy  50     160
797         797  720    HoopaHoopa Confined  Psychic   Ghost  80     110
798         798  720     HoopaHoopa Unbound  Psychic    Dark  80     160
799         799  721              Volcanion     Fire   Water  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         49       65       65     45           1      False    318
1         63       80       80     60           1      False    405
2         83      100      100     80           1      False    525
3        123      122      120     80           1      False    625
4         43       60       50     65           1      False    309
..       ...      ...      ...    ...         ...        ...    ...
795      150      100      150     50           6       True    600
796      110      160      110    110           6       True    700
797       60      150      130     70           6       True    600
798       60      170      130     80           6       True    680
799      120      130       90     70           6       True    600

[800 rows x 14 columns]
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
     Unnamed: 0    #                   Name   Type 1  Type 2  HP  Attack  \
0             0    1              Bulbasaur    Grass  Poison  45      49
1             1    2                Ivysaur    Grass  Poison  60      62
2             2    3               Venusaur    Grass  Poison  80      82
3             3    3  VenusaurMega Venusaur    Grass  Poison  80     100
4             4    4             Charmander     Fire     NaN  39      52
..          ...  ...                    ...      ...     ...  ..     ...
795         795  719                Diancie     Rock   Fairy  50     100
796         796  719    DiancieMega Diancie     Rock   Fairy  50     160
797         797  720    HoopaHoopa Confined  Psychic   Ghost  80     110
798         798  720     HoopaHoopa Unbound  Psychic    Dark  80     160
799         799  721              Volcanion     Fire   Water  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         49       65       65     45           1      False    318
1         63       80       80     60           1      False    405
2         83      100      100     80           1      False    525
3        123      122      120     80           1      False    625
4         43       60       50     65           1      False    309
..       ...      ...      ...    ...         ...        ...    ...
795      150      100      150     50           6       True    600
796      110      160      110    110           6       True    700
797       60      150      130     70           6       True    600
798       60      170      130     80           6       True    680
799      120      130       90     70           6       True    600

[800 rows x 14 columns]

###### Filtering data from data frmae`

In [149]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]

IMP Note: 
1> In pandas library logical 'AND' and 'OR' is not used instead '&' and '|' is used respectively.
2> In pandas ecach expression we need to covered under separate openning and closing barce. Othersiwe will get below error
"cannot compare a dtyped [bool] array with a scalar of type [bool]"

In [163]:

print(df)
print(df.loc[(df['Name'] == 'Ivysaur') | (df['Type 2'] == 'Poison')])
df_new = df.loc[(df['Type 1'] == "Grass") & (df['HP'] > 100)]
print(df_new)

print("+++++++++++++++++++")
#reset_index() ==> creates new index start from zero, but it also keeps old index as separate colum.
df_new.reset_index(inplace=True)
print(df_new)

print("+++++++++++++++++++")
#Now remove old index which kept by reset_index
df_new = df.loc[(df['Type 1'] == "Grass") & (df['HP'] > 100)]
#we can also do inplace for below line of code
# df_new.reset_index(drop=True, inplace=True)
df_new = df_new.reset_index(drop=True)
print(df_new)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
       #                   Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0      1              Bulbasaur  Grass  Poison   45      49       49       65
1      2                Ivysaur  Grass  Poison   60      62       63       80
2      3               Venusaur  Grass  Poison   80      82       83      100
3      3  VenusaurMega Venusaur  Grass  Poison   80     100      123      122
16    13                 Weedle    Bug  Poison   40      35       30       20
17    14                 Kakuna    Bug  Poison   45      25       50       25
18    15               Beedrill    Bug  Poison   65      90       40       45
19    15  BeedrillMega Beedrill    Bug  Poison   65     150       40       15
48    43                 Oddish  Grass  Poison   45      50       55       75
49    44                  Gloom  Grass  Poison   60      65       70       85
50    45              Vileplume  Grass  Poison   75      80       85      110
53    48                Venonat    Bug  Poison   60      55       50       40
54    49               Venomoth    Bug  Poison   70      65       60       90
75    69             Bellsprout  Grass  Poison   50      75       35       70
76    70             Weepinbell  Grass  Poison   65      90       50       85
77    71             Victreebel  Grass  Poison   80     105       65      100
78    72              Tentacool  Water  Poison   40      40       35       50
79    73             Tentacruel  Water  Poison   80      70       65       80
99    92                 Gastly  Ghost  Poison   30      35       30      100
100   93                Haunter  Ghost  Poison   45      50       45      115
101   94                 Gengar  Ghost  Poison   60      65       60      130
102   94      GengarMega Gengar  Ghost  Poison   60      65       80      170
181  167               Spinarak    Bug  Poison   40      60       40       40
182  168                Ariados    Bug  Poison   70      90       70       60
227  211               Qwilfish  Water  Poison   65      95       75       55
292  269                 Dustox    Bug  Poison   60      50       70       50
344  315                Roselia  Grass  Poison   50      60       45      100
451  406                  Budew  Grass  Poison   40      30       35       50
452  407               Roserade  Grass  Poison   60      70       65      125
603  543               Venipede    Bug  Poison   30      45       59       30
604  544             Whirlipede    Bug  Poison   40      55       99       40
605  545              Scolipede    Bug  Poison   60     100       89       55
651  590                Foongus  Grass  Poison   69      55       45       55
652  591              Amoonguss  Grass  Poison  114      85       70       85

     Sp. Def  Speed  Generation  Legendary  Total
0         65     45           1      False    318
1         80     60           1      False    405
2        100     80           1      False    525
3        120     80           1      False    625
16        20     50           1      False    195
17        25     35           1      False    205
18        80     75           1      False    395
19        80    145           1      False    495
48        65     30           1      False    320
49        75     40           1      False    395
50        90     50           1      False    490
53        55     45           1      False    305
54        75     90           1      False    450
75        30     40           1      False    300
76        45     55           1      False    390
77        70     70           1      False    490
78       100     70           1      False    335
79       120    100           1      False    515
99        35     80           1      False    310
100       55     95           1      False    405
101       75    110           1      False    500
102       95    130           1      False    600
181       40     30           2      False    250
182       60     40           2      False    390
227       55     85           2      False    430
292       90     65           3      False    385
344       80     65           3      False    400
451       70     55           4      False    280
452      105     90           4      False    515
603       39     57           5      False    260
604       79     47           5      False    360
605       69    112           5      False    485
651       55     15           5      False    294
652       80     30           5      False    464
       #       Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
652  591  Amoonguss  Grass  Poison  114      85       70       85       80
741  673     Gogoat  Grass     NaN  123     100       62       97       81

     Speed  Generation  Legendary  Total
652     30           5      False    464
741     68           6      False    531
+++++++++++++++++++
   index    #       Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0    652  591  Amoonguss  Grass  Poison  114      85       70       85
1    741  673     Gogoat  Grass     NaN  123     100       62       97

   Sp. Def  Speed  Generation  Legendary  Total
0       80     30           5      False    464
1       81     68           6      False    531
+++++++++++++++++++
     #       Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  591  Amoonguss  Grass  Poison  114      85       70       85       80
1  673     Gogoat  Grass     NaN  123     100       62       97       81

   Speed  Generation  Legendary  Total
0     30           5      False    464
1     68           6      False    531

Fillter entry having a name which is having 'Mega' keyword in it.

In [168]:
print(df)
print(df.loc[df['Name'].str.contains('Mega')])
#Now get entry which does not contains 'Mega' in it's name filed.
df.loc[~df['Name'].str.contains('Mega')]

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
       #                       Name    Type 1    Type 2   HP  Attack  Defense  \
3      3      VenusaurMega Venusaur     Grass    Poison   80     100      123
7      6  CharizardMega Charizard X      Fire    Dragon   78     130      111
8      6  CharizardMega Charizard Y      Fire    Flying   78     104       78
12     9    BlastoiseMega Blastoise     Water       NaN   79     103      120
19    15      BeedrillMega Beedrill       Bug    Poison   65     150       40
23    18        PidgeotMega Pidgeot    Normal    Flying   83      80       80
71    65      AlakazamMega Alakazam   Psychic       NaN   55      50       65
87    80        SlowbroMega Slowbro     Water   Psychic   95      75      180
102   94          GengarMega Gengar     Ghost    Poison   60      65       80
124  115  KangaskhanMega Kangaskhan    Normal       NaN  105     125      100
137  127          PinsirMega Pinsir       Bug    Flying   65     155      120
141  130      GyaradosMega Gyarados     Water      Dark   95     155      109
154  142  AerodactylMega Aerodactyl      Rock    Flying   80     135       85
163  150        MewtwoMega Mewtwo X   Psychic  Fighting  106     190      100
164  150        MewtwoMega Mewtwo Y   Psychic       NaN  106     150       70
168  154                   Meganium     Grass       NaN   80      82      100
196  181      AmpharosMega Ampharos  Electric    Dragon   90      95      105
224  208        SteelixMega Steelix     Steel    Ground   75     125      230
229  212          ScizorMega Scizor       Bug     Steel   70     150      140
232  214    HeracrossMega Heracross       Bug  Fighting   80     185      115
248  229      HoundoomMega Houndoom      Dark      Fire   75      90       90
268  248    TyranitarMega Tyranitar      Rock      Dark  100     164      150
275  254      SceptileMega Sceptile     Grass    Dragon   70     110       75
279  257      BlazikenMega Blaziken      Fire  Fighting   80     160       80
283  260      SwampertMega Swampert     Water    Ground  100     150      110
306  282    GardevoirMega Gardevoir   Psychic     Fairy   68      85       65
327  302        SableyeMega Sableye      Dark     Ghost   50      85      125
329  303          MawileMega Mawile     Steel     Fairy   50     105      125
333  306          AggronMega Aggron     Steel       NaN   70     140      230
336  308      MedichamMega Medicham  Fighting   Psychic   60     100       85
339  310    ManectricMega Manectric  Electric       NaN   70      75       80
349  319      SharpedoMega Sharpedo     Water      Dark   70     140       70
354  323      CameruptMega Camerupt      Fire    Ground   70     120      100
366  334        AltariaMega Altaria    Dragon     Fairy   75     110      110
387  354        BanetteMega Banette     Ghost       NaN   64     165       75
393  359            AbsolMega Absol      Dark       NaN   65     150       60
397  362          GlalieMega Glalie       Ice       NaN   80     120       80
409  373    SalamenceMega Salamence    Dragon    Flying   95     145      130
413  376    MetagrossMega Metagross     Steel   Psychic   80     145      150
418  380          LatiasMega Latias    Dragon   Psychic   80     100      120
420  381          LatiosMega Latios    Dragon   Psychic   80     130      100
426  384      RayquazaMega Rayquaza    Dragon    Flying  105     180      100
476  428        LopunnyMega Lopunny    Normal  Fighting   65     136       94
494  445      GarchompMega Garchomp    Dragon    Ground  108     170      115
498  448        LucarioMega Lucario  Fighting     Steel   70     145       88
511  460    AbomasnowMega Abomasnow     Grass       Ice   90     132      105
527  475        GalladeMega Gallade   Psychic  Fighting   68     165       95
591  531          AudinoMega Audino    Normal     Fairy  103      60      126
796  719        DiancieMega Diancie      Rock     Fairy   50     160      110

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
3        122      120     80           1      False    625
7        130       85    100           1      False    634
8        159      115    100           1      False    634
12       135      115     78           1      False    630
19        15       80    145           1      False    495
23       135       80    121           1      False    579
71       175       95    150           1      False    590
87       130       80     30           1      False    590
102      170       95    130           1      False    600
124       60      100    100           1      False    590
137       65       90    105           1      False    600
141       70      130     81           1      False    640
154       70       95    150           1      False    615
163      154      100    130           1       True    780
164      194      120    140           1       True    780
168       83      100     80           2      False    525
196      165      110     45           2      False    610
224       55       95     30           2      False    610
229       65      100     75           2      False    600
232       40      105     75           2      False    600
248      140       90    115           2      False    600
268       95      120     71           2      False    700
275      145       85    145           3      False    630
279      130       80    100           3      False    630
283       95      110     70           3      False    635
306      165      135    100           3      False    618
327       85      115     20           3      False    480
329       55       95     50           3      False    480
333       60       80     50           3      False    630
336       80       85    100           3      False    510
339      135       80    135           3      False    575
349      110       65    105           3      False    560
354      145      105     20           3      False    560
366      110      105     80           3      False    590
387       93       83     75           3      False    555
393      115       60    115           3      False    565
397      120       80    100           3      False    580
409      120       90    120           3      False    700
413      105      110    110           3      False    700
418      140      150    110           3       True    700
420      160      120    110           3       True    700
426      180      100    115           3       True    780
476       54       96    135           4      False    580
494      120       95     92           4      False    700
498      140       70    112           4      False    625
511      132      105     30           4      False    594
527       65      115    110           4      False    618
591       80      126     50           5      False    545
796      160      110    110           6       True    700

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [182]:
#Fileter using regex
import re
#print(df)
#extract rows,if Type 1 contains Fire or Grass
df.loc[df['Type 1'].str.contains("Fire|Grass", regex=True)]
#If we want to igonre case-sensitivity then use below flag setting.

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

#Display entries if name is strart with 'pi'.
# ^ ==> represent begining of the word. 
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

###### Conditional changes to df

Change fire with flame in Type 1, otherwise keep existing one

In [203]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flame'
df

df_tmp = df
#print(df)

#Now if Type 1 is 'Flame' then set Legendary as True.
df_tmp.loc[df_tmp['Type 1'] == 'Flame', 'Legendary'] = True
#print(df_tmp)

df_tmp.loc[(df_tmp['Type 1'] == 'grass')| (df_tmp['Type 1'] == 'Grass'), 'Legendary'] = True
print(df_tmp)

#if total is 500 , then Legendary and Generation filed values should changed to "TEST VALUE"
df.loc[df['Total'] > 500, ['Legendary', 'Generation']] = "TESTVALUE"
print(df)

# Let say for above contion we need assign TEST1 to Legenday and TEST2 to Generation
df.loc[df['Total'] > 500, ['Legendary', 'Generation']] = ['TEST1', 'TEST2']
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander    Flame     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion    Flame   Water  80     110      120

     Sp. Atk  Sp. Def  Speed Generation Legendary  Total
0         65       65     45          1      True    318
1         80       80     60          1      True    405
2        100      100     80      TEST2      True    525
3        122      120     80      TEST2      True    625
4         60       50     65          1      True    309
..       ...      ...    ...        ...       ...    ...
795      100      150     50      TEST2     TEST1    600
796      160      110    110      TEST2     TEST1    700
797      150      130     70      TEST2     TEST1    600
798      170      130     80      TEST2     TEST1    680
799      130       90     70      TEST2      True    600

[800 rows x 13 columns]
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander    Flame     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion    Flame   Water  80     110      120

     Sp. Atk  Sp. Def  Speed Generation  Legendary  Total
0         65       65     45          1       True    318
1         80       80     60          1       True    405
2        100      100     80  TESTVALUE  TESTVALUE    525
3        122      120     80  TESTVALUE  TESTVALUE    625
4         60       50     65          1       True    309
..       ...      ...    ...        ...        ...    ...
795      100      150     50  TESTVALUE  TESTVALUE    600
796      160      110    110  TESTVALUE  TESTVALUE    700
797      150      130     70  TESTVALUE  TESTVALUE    600
798      170      130     80  TESTVALUE  TESTVALUE    680
799      130       90     70  TESTVALUE  TESTVALUE    600

[800 rows x 13 columns]
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander    Flame     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion    Flame   Water  80     110      120

     Sp. Atk  Sp. Def  Speed Generation Legendary  Total
0         65       65     45          1      True    318
1         80       80     60          1      True    405
2        100      100     80      TEST2     TEST1    525
3        122      120     80      TEST2     TEST1    625
4         60       50     65          1      True    309
..       ...      ...    ...        ...       ...    ...
795      100      150     50      TEST2     TEST1    600
796      160      110    110      TEST2     TEST1    700
797      150      130     70      TEST2     TEST1    600
798      170      130     80      TEST2     TEST1    680
799      130       90     70      TEST2     TEST1    600

[800 rows x 13 columns]

###### Aggregate statistics (Groupby)

In [242]:
df = pd.read_csv('modified.csv')
print(df)

#Group all the pokemans based on Type 1 and list which is having more attack
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

#Group all the pokemans based on name and list which is having more HP score.

df.groupby(['Name']).mean().sort_values('HP', ascending=False)

#Group all the pokemans and list out sum of HP for each group

#df.groupby(['Name']).sum()



#Group pokeman based on type 1 and count how many of them in each group.

print("++++++++++++++++++++++++++++")
print(df)
#Below line just to assign each occurence as 1, so thta we can use these colums to count.
df['count'] = 1
print(df)
print("=======================")
df.groupby(['Type 1']).count()['count']

#We can also group by two fileds 
df.groupby(['Type 1', 'Type 2']).count()['count']

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
++++++++++++++++++++++++++++
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  count
0         65       65     45           1      False    318      1
1         80       80     60           1      False    405      1
2        100      100     80           1      False    525      1
3        122      120     80           1      False    625      1
4         60       50     65           1      False    309      1
..       ...      ...    ...         ...        ...    ...    ...
795      100      150     50           6       True    600      1
796      160      110    110           6       True    700      1
797      150      130     70           6       True    600      1
798      170      130     80           6       True    680      1
799      130       90     70           6       True    600      1

[800 rows x 14 columns]
=======================

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# How to read a huge file

chunksize specifies the number of rows to be read.

In [248]:
#Basically we are creating new data frame by using columns name of alreday existing data frame called 'df'
# But it will not contains no rows.

new_df = pd.DataFrame(columns=df.columns)
print(new_df)

for df in pd.read_csv('modified.csv', chunksize=5):
    res = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, res])

print(new_df)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Total]
Index: []

C:\Users\jmallesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

         # Attack Defense Generation HP Legendary Name Sp. Atk Sp. Def Speed  \
Fire     1      1       1          1  1         1    1       1       1     1
Grass    4      4       4          4  4         4    4       4       4     4
Fire     4      4       4          4  4         4    4       4       4     4
Water    1      1       1          1  1         1    1       1       1     1
Bug      2      2       2          2  2         2    2       2       2     2
...     ..    ...     ...        ... ..       ...  ...     ...     ...   ...
Fairy    1      1       1          1  1         1    1       1       1     1
Flying   2      2       2          2  2         2    2       2       2     2
Fire     1      1       1          1  1         1    1       1       1     1
Psychic  2      2       2          2  2         2    2       2       2     2
Rock     2      2       2          2  2         2    2       2       2     2

        Total Type 1 Type 2
Fire        1    NaN      0
Grass       4    NaN      4
Fire        4    NaN      3
Water       1    NaN      0
Bug         2    NaN      0
...       ...    ...    ...
Fairy       1    NaN      0
Flying      2    NaN      2
Fire        1    NaN      1
Psychic     2    NaN      2
Rock        2    NaN      2

[433 rows x 13 columns]